@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #42A7A1;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 220px;
  width: 280px;
  background: #fff;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  background: #F1BA64;
  color: #fff;
  height: 60px;
  width: 100%;
  padding: 12px 15px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
.header .big {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.header .small {
  font-weight: 400;
  font-size: 11px;
}
.header .wrapper__title, .header .wrapper__subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  background: #FFF;
  width: 100%;
  flex: 1;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.content .legend {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 14px;
}
.content .legend span {
  position: relative;
  font-size: 9px;
  color: #606060;
  line-height: 13px;
  padding: 0 10px 0 25px;
}
.content .legend span::before {
  position: absolute;
  left: 6px;
  top: 6px;
  display: block;
  content: "";
  width: 11px;
  height: 3px;
}
.content .legend .red::before {
  background: #FA7373;
}
.content .legend .blue::before {
  background: #7BA2FF;
}
.content .chart {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  flex: 1;
}
.content .chart .line-1, .content .chart .line-3, .content .chart .line-2 {
  position: absolute;
  top: 0;
  left: 0;
  background: #F2F2F2;
  height: 1px;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
}
.content .chart .line-2 {
  top: 40px;
}
.content .chart .line-3 {
  top: 80px;
}
.content .chart .data svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.content .chart .data polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
}
.content .chart .data.red polyline {
  stroke: #FA7373;
}
.content .chart .data.red [class^=point-] {
  background: #FA7373;
}
.content .chart .data.red .point-1 {
  top: 43px;
  left: 7px;
}
.content .chart .data.red .point-2 {
  top: 9px;
  left: 47px;
}
.content .chart .data.red .point-3 {
  top: 20px;
  left: 87px;
}
.content .chart .data.red .point-4 {
  top: 8px;
  left: 127px;
}
.content .chart .data.red .point-5 {
  top: 34px;
  left: 167px;
}
.content .chart .data.red .point-6 {
  top: 44px;
  left: 207px;
}
.content .chart .data.red .point-7 {
  top: 17px;
  left: 247px;
}
.content .chart .data.red .tooltip,
.content .chart .data.red .tooltip::after {
  background: #FA7373;
}
.content .chart .data.blue polyline {
  stroke: #7BA2FF;
}
.content .chart .data.blue [class^=point-] {
  background: #7BA2FF;
}
.content .chart .data.blue .point-1 {
  top: 58px;
  left: 7px;
}
.content .chart .data.blue .point-2 {
  top: 47px;
  left: 47px;
}
.content .chart .data.blue .point-3 {
  top: 62px;
  left: 87px;
}
.content .chart .data.blue .point-4 {
  top: 52px;
  left: 127px;
}
.content .chart .data.blue .point-5 {
  top: 58px;
  left: 167px;
}
.content .chart .data.blue .point-6 {
  top: 71px;
  left: 207px;
}
.content .chart .data.blue .point-7 {
  top: 61px;
  left: 247px;
}
.content .chart .data.blue .tooltip,
.content .chart .data.blue .tooltip::after {
  background: #7BA2FF;
}
.content .chart .data .points .tooltip {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate3d(-50%, 10px, 0);
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  color: #fff;
  padding: 8px 6px;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.4s ease-out 0s, opacity 0.4s ease-out 0s;
}
.content .chart .data .points .tooltip:after {
  position: absolute;
  display: block;
  content: "";
  height: 6px;
  width: 6px;
  left: 50%;
  margin-left: -3px;
  bottom: -3px;
  transform: rotate(45deg);
}
.content .chart .data .points [class^=point-] {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  cursor: pointer;
  z-index: 10;
}
.content .chart .data .points [class^=point-]:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate3d(-50%, 0, 0);
}
.content .chart .days {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.content .chart .days .day {
  display: block;
  float: left;
  width: 14.2857142857%;
  font-size: 9px;
  color: #949494;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}/*# sourceMappingURL=style.css.map */